<div>
    <label for="search">Recherche</label><input type="text" id="search" class="form-control" ng-model="ctrl.search">
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th><a href="" ng-click="ctrl.sortBy('id')">ID</a></th>
            <th><a href="" ng-click="ctrl.sortBy('name')">Nom</a></th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="step in ctrl.steps | orderBy:ctrl.predicate:ctrl.reverse | filter:ctrl.search track by $index">
            <td>{{ step.id }}</td>
            <td>{{ step.name }}</td>
            <td>{{ step.description }}</td>
            <td>
                <a class="btn btn-info" ng-href="#/edit/{{step.id}}">Edit</a>
            </td>
            <td>
                <a class="btn btn-primary" ng-show="step.start" ng-click="ctrl.play()">Start !</a>
            </td>
        </tr>
    </tbody>
</table>
<a  class="btn btn-default" href="#/add">Ajouter étape</a>